<h2>Edición de artista</h2>

<form method="POST">
    <label for="nombre">Nombre</label>
    <input type="text" name="nombre" id="nombre" value="{{obj.nombre}}">
    <button type="submit">Guardar</button>
    <a href="/artistas">Cancelar</a>
</form>
